body {
  margin: 0;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom, cadetblue, burlywood);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px 6px 18px;
  width: 60%;
  margin: 10px;
  align-items: center;
}

h2 {
  font-weight: 450;
}

.input {
  text-align: center;
  padding: 10px 12px;
  font-size: 18px;
  background-color: blanchedalmond;
  color: violet;
  border-radius: 10px;
  width: 100px;
}

.errorMessage {
  color: rebeccapurple;
  font-weight: 550;
  margin: 12px;
  display: none;
}

.btn {
  text-transform: uppercase;
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 15.7px;
  margin: 14px;
  border-radius: 9px;
  border: none;
  box-shadow: 2px 5px 8px;
  background-color: whitesmoke;
  margin-top: 15px;
  margin-bottom: 30px;
}

.btn:hover {
  color: aliceblue;
  background-color: black;
  cursor: pointer;
  transition: background-color 290ms ease-in;
}

.gallery img {
  width: 360px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin: 8px;
}

.gallery {
  display: none;
}
